.product{
  display: inline-block;
  position: relative;
}


.discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.heart{
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: red
}
